<% provide(:title, "Contacts") %>
<div class = "body" id="<%= "faculty" if params[:controller] == "contacts" %>">
  <div style = "width:100px;height:50px;"></div>
  <div class = "body_main">
        <h3>&nbsp;&nbsp;Contacts</h3>
        <h4>Isa Muslu<br>
          Head of department
        </h4>
        <span style=color:rgb(105,175,0);>Tel:</span>  +(996 312) 631425<br>
        <span style=color:rgb(105,175,0);>Fax:</span> +996(312) 630409<br>
        <span style=color:rgb(105,175,0);>Office:</span> 204-A (A-block, 2'nd floor, 204)<br>
        <span style=color:rgb(105,175,0);>E-mail:</span> isa.muslu@iaau.edu.kg<br><br>
        <h3>
          &nbsp;&nbsp;Address
        </h3>
        <span>International Ataturk Alatoo University<br>
        Maksim Gorky Street 1/8, Tunguch,<br>
        720048, Bishkek, Kyrgyz Republic</span>
  </div>
  <div style = "width:100px;height:50px;"></div>
</div>