<% provide(:title, "About") %>
<div class = "body" id="<%= "about" if params[:controller] == "about" %>">
  <div style = "width:100px;height:50px;"></div>
  <div class = "inside"style = "float:left;">
    <h4 style = "color:rgb(240,240,240);text-align:left;">GENERAL INFO</h4>
    <p class = "gInfo">
      The mission of the Department of Mathematics and Computer Science is to provide quality education in mathematics, computer science, mathematics education, information technology, and related fields and to expand knowledge in these fields. The Department strives to hone the thinking skills of the students. This effort is sustained and informed by the faculty’s pursuit of enquiry-based research and scholarly activities. The faculty also have the mission of preparing quality teachers for the schools and providing students with the foundational knowledge, skills, and relevant experiences to succeed in their chosen professions. The primary goal of the program in mathematics and computer science at Holy Cross is to enable students to become active participants in the study of fundamental and dynamic areas of human endeavor. The inherent structure and beauty of mathematics is at the core of all mathematical inquiry, but mathematics is also the quantitative language of the sciences and social sciences. Computer science is the study of algorithms, data structures, and their implementation in software and hardware systems. In our increasingly technology-driven society, mathematics and computer science are becoming part of our daily public discourse. In this context the Department works toward helping students to become knowledgeable and sophisticated learners, able to think and work independently, and to work productively in concert with their peers.
      <br><span style = "float:right;">MSc. Isa Muslu</span>
    </p>
  </div>
  <%= image_tag "alg.jpg", class: "alg"%>
  <br style="clear: left;" />
  <div style = "width:100px;height:50px;"></div>
</div>