@import "home.css";

a{
    text-decoration:none;
}
html{
    text-align:center;
    background:url('/vichy.png');
    background:url("../images/vichy.png");
}

.weight{
    font-weight:200;
}
.img1{
    margin-top:25px;
    margin-left:30px;
}
.link1{
    margin-left:5px;
    color:white;
    font-family:Raleway;
    font-size:18px;
}
.img2{
    margin-top:19px;
    margin-left:30px;
    vertical-align:middle;
}
.link2{
    margin-left:10px;
    color:white;
    margin-top:10px;
    font-family:Raleway;
    font-size:18px;
}
.img3{
    margin-top:25px;
    margin-left:30px;
}
.link3{
    margin-left:5px;
    color:white;
    margin-top:10px;
    font-family:Raleway;
    font-size:18px;
}
.img4{
    margin-top:25px;
    margin-left:30px;
}
.link4{
    margin-left:5px;
    color:white;
    margin-top:10px;
    font-family:Raleway;
    font-size:18px;
}
.img5{
    margin-top:24px;
    margin-left:30px;
}
.link5{
    margin-left:5px;
    color:white;
    margin-top:10px;
    font-family:Raleway;
    font-size:18px;
}
.img6{
    margin-top:25px;
    margin-left:30px;
}
.link6{
    margin-left:5px;
    color:white;
    margin-top:10px;
    font-family:Raleway;
    font-size:18px;
}
.img7{
    margin-top:18px;
    margin-left:30px;
    vertical-align:middle;
}
.link7{
    margin-left:5px;
    color:white;
    margin-top:10px;
    font-family:Raleway;
    font-size:18px;
}
.home{
    width:145px;
    height:63px;
    border-right:1px rgb(84,86,75) solid;
    /*background:rgb(105,175,0);*/
    display:block;
    margin-left:-2px;
}
.about{
    width:145px;
    height:63px;
    border-right:1px rgb(84,86,75) solid;
    background:rgb(55,55,55);
    margin-left:146px;
    margin-top:-65px;
    display:block;

}
.program{
    width:145px;
    height:63px;
    border-right:1px rgb(84,86,75) solid;
    background:rgb(55,55,55);
    margin-left:294px;
    margin-top:-65px;
    display:block;
}
.faculty{
    width:145px;
    height:63px;
    border-right:1px rgb(84,86,75) solid;
    background:rgb(55,55,55);
    display:block;
    margin-left:442px;
    margin-top:-65px;
}
.calendar{
    width:145px;
    height:63px;
    border-right:1px rgb(84,86,75) solid;
    background:rgb(55,55,55);
    display:block;
    margin-left:590px;
    margin-top:-65px;
}
.contacts{
    width:145px;
    height:63px;
    border-right:1px rgb(84,86,75) solid;
    background:rgb(55,55,55);
    display:block;
    margin-left:738px;
    margin-top:-65px;
}
.iaau{
    width:145px;
    height:63px;
    border-right:1px rgb(84,86,75) solid;
    background:rgb(55,55,55);
    display:block;
    margin-left:886px;
    margin-top:-65px;
}
.end{
    height:63px;
    width:42px;
    display:block;
    background:rgb(55,55,55);
    margin-left:1034px;
    margin-top:-65px;
}
.container{
    margin-top:-10px;
    margin-right:auto;
    margin-left:auto;
    background:white;
    width:1080px;
    /*height:845px;*/
    /*box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);*/
}
.top_line{
    height:17px;
    width:1080px;
    background:rgb(105,175,0);
}
.top{
    height:126px;
    width:1080px;
    border-top:1px dashed white;
}
.navigation{
    height:63px;
    width:1080px;
    border-top:1px dashed white;
}
.boddy{
    height:467px;
    width:1080px;
}
.icon{
    float:left;
    margin-left:22px;
    margin-top:26px;
}
.math{
    text-align:left;
    margin-left:118px;
    margin-top:20px;
    font-family:Raleway;
    font-size:36px;
}
.mail{
    width:145px;
    height:63px;
    border-right:1px rgb(84,86,75) solid;
    background:rgb(55,55,55);
    display:block;
    margin-left:-2px;
}
.ocs{
    width:145px;
    height:63px;
    border-right:1px rgb(84,86,75) solid;
    background:rgb(55,55,55);
    margin-left:146px;
    margin-top:-65px;
    display:block;

}
.library{
    width:145px;
    height:63px;
    border-right:1px rgb(84,86,75) solid;
    background:rgb(55,55,55);
    margin-left:294px;
    margin-top:-65px;
    display:block;
}
.admin{
    width:145px;
    height:63px;
    border-right:1px rgb(84,86,75) solid;
    background:rgb(55,55,55);
    display:block;
    margin-left:442px;
    margin-top:-65px;
}
.end2{
    height:63px;
    width:486px;
    display:block;
    background:rgb(55,55,55);
    margin-left:590px;
    margin-top:-65px;
}
.pMail{
    margin-top:18px;
    text-align:center;
    color:white;
    font-family:Raleway;
    font-size:18px;
}
.pOcs{
    margin-top:18px;
    text-align:center;
    color:white;
    font-family:Raleway;
    font-size:18px;
}
.pLibrary{
    margin-top:18px;
    text-align:center;
    color:white;
    font-family:Raleway;
    font-size:18px;
}
.pAdmin{
    /*margin-top:18px;*/
    text-align:center;
    color:white;
    font-family:Raleway;
    font-size:18px;
}
.devel{
    float:left;
    font-family:Raleway;
    font-size:16px;
    text-align:left;
    margin-left:45px;
    margin-top:30px;
}
.modif{
    font-family:Raleway;
    font-size:12px;
    margin-top:80px;
    float:left;
    margin-left:30px;
}
.afo{
    font-family:Raleway;
    font-size:12px;
    margin-top:26px;
    margin-left:50px
}
.dots{
    margin-top:-70px;
    margin-left:-20px;
    font-size:80px;
    text-align:center;
}

#highlighted{
    background:rgb(105,175,0);
}