.schedule{
    font-size: 16px;
    padding: 20px;
    color: white;
}
.picture{
    height: 100px;
    width: 200px;
}
.calendar{
    width: 360px;
    border-right: 1px dashed #ffffff;
}
.downloads{
    color: #ffffff;
    font-size: 20px;
    padding-top: 10px;
}
