.hidden {
    display: none;
    float:left;
}
.body_main{
    height:100%;
    width: 800px;
    margin-left:100px;
    color: #ffffff;
    text-align: left;
}
.body_main a:link  {
    float:left;
    font-size:20px;
    Color: white;
    margin-left:20px;
}
.body_main a:visited{
    Color: white;
    float:left;
    font-size:20px;
}
.body_main a:hover{
    Color: white;
    float:left;
    font-size:20px;
}
.unhidden {
    display: block;
    float:left;
}
ul{
    list-style:none;
}
li{
    margin-top:20px;
    color:white;
    float: left;
    cursor:pointer;
    font-size:20px;
}
.list{
    padding-bottom: 10px;
}